@import url('https://fonts.googleapis.com/css2?family=Alegreya:wght@400;500;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
body {
    font-size: 20px!important;
    font-family: 'PT Sans', sans-serif !important;
    font-weight: 400!important;
    line-height: 1.5!important
}

html {
    scroll-behavior: smooth
}

html {
    scroll-padding-top: 100px
}

.pr-font {
    font-family: 'Alegreya', serif
}

a:hover {
    text-decoration: none!important
}

img {
    max-width: 100%;
    height: auto
}

header.sticky {
    box-shadow: 0 4px 20px rgba(45, 48, 71, .1)
}

header ul li a {
    color: #3A2823;
    font-size: 16px;
    letter-spacing: .05em;
    font-weight: 400;
    padding: 0!important
}

header ul li+li {
    margin-left: 25px;
}

header {
    padding: 22px 0;
    background: #fff;
    position: fixed;
    z-index: 9;
    left: 0;
    top: 0;
    right: 0
}

header .cont-btn a {
    border: 2px solid #B93538;
    box-sizing: border-box;
    box-shadow: 0px 1px 2px -3px rgba(105, 82, 77, 0.1);
    text-align: center;
    letter-spacing: 0.06em;
    color: #B93538;
    font-size: 20px;
    font-family: 'Alegreya', serif;
    font-weight: 500;
    padding: 14px 26px;
}

header .cont-btn a:hover {
    background: #B93538;
    color: white;
}

.cont-btn {
    margin-left: 24px;
}

header ul li a:hover {
    color: #B93538;
}

header .navbar {
    position: relative
}

.substract-img {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-image: url(../images/Subtract.png);
    background-size: cover;
    background-position: center
}

.substract-img img {
    width: 100%
}

.main-slider {
    height: 768px;
    position: relative
}

.main-slider .carousel .carousel-item {
    background-size: cover;
    background-position: left top;
    background-repeat: no-repeat
}

.main-slider .carousel {
    height: 100%
}

.main-slider .carousel div {
    height: 100%
}

.slider-content {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: 2
}

.slider-content {
    padding-top: 242px
}

.slider-content .s_logo {
    margin-bottom: 35px
}

.slider-content h1 {
    font-size: 53px;
    line-height: 85px;
    color: #634E42;
    letter-spacing: .01em;
    font-weight: 500
}

.slider-content h1 span {
    color: #B93538;
}

.world-home {
    padding: 58px 0 42px 0;
}

.world-home h2 {
    font-size: 24px;
    line-height: 1.5;
    color: #634E42;
    margin-bottom: 30px;
    font-weight: 700;
    letter-spacing: .03em;
    text-transform: uppercase;
}

.world-home h2 span {
    color: #B93538;
}

.world-home p {
    padding-right: 200px;
    color: #383838;
    font-size: 20px;
    line-height: 35px;
    letter-spacing: .03em;
    margin-bottom: 0
}

.world-home:before {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: rgba(3, 47, 159, .04)
}

.world-home-slider {
    background: rgb(253 244 245 / 0.5);
    padding-bottom: 60px;
    padding-top: 50px;
}

.world-home-slider .wh-logo {
    margin-top: 29px;
    margin-bottom: 53px
}

.world-home-slider h3 {
    font-size: 40px;
    line-height: 30px;
    font-weight: bold;
    letter-spacing: 0.1em;
    margin-bottom: 0;
    color: #B93538;
    padding: 20px 0;
    font-variant: small-caps;
}

.world-home-slider .top-right {
    position: absolute;
    right: -25px;
    top: -40px;
}

.world-home-slider .bottom-right {
    position: absolute;
    right: -26px;
    bottom: 0px;
}

.world-home-slider h3 span {
    color: #347849;
}

.world-home-slider p {
    letter-spacing: 0.04em;
    color: #383838;
    margin-bottom: 0;
    padding-right: 90px;
    font-size: 20px;
    margin-top: 23px;
}

.world-home-slider a {
    float: left;
    margin-top: 40px;
    font-family: 'Alegreya', serif;
    background: #fff;
    font-size: 16px;
    letter-spacing: .03em;
    color: #B93538;
    padding: 12px 43px;
    border-radius: 0px;
    border: 1px solid #B93538;
    font-weight: 500;
    transition: 0.5s easy-in-out;
    transition: box-shadow 0.3s ease-in-out
}

.world-home-slider a:hover {
    box-shadow: 0 4px 8px rgb(0 0 0 / 7%);
    background-color: #B93538;
    color: white;
}

.owl-theme .owl-dots .owl-dot span {
    width: 7px!important;
    height: 7px!important;
    background: #5A5A5A !important;
    padding: 0!important;
    margin: 0!important
}

.owl-theme .owl-nav.disabled+.owl-dots button+button {
    margin-left: 21px
}

.owl-theme .owl-dots .owl-dot span {
    position: relative
}

.owl-theme .owl-dots .owl-dot.active span:before {
    content: " ";
    position: absolute;
    left: -7px;
    top: -7px;
    width: 21px;
    height: 21px;
    border-radius: 100%;
    border: 1px solid #B93538;
    display: block
}

.owl-theme .owl-dots .owl-dot.active span {
    background-color: #B93538 !important
}

.owl-theme .owl-dots .owl-dot span:hover {
    background-color: #B93538 !important
}

.owl-theme .owl-dots .owl-dot span:hover:before {
    content: " ";
    position: absolute;
    left: -7px;
    top: -7px;
    width: 21px;
    height: 21px;
    border-radius: 100%;
    border: 1px solid #B93538;
    display: block
}

.owl-theme .owl-nav.disabled+.owl-dots button:focus {
    outline: 0!important;
    box-shadow: unset
}

.owl-theme .owl-nav.disabled+.owl-dots {
    margin-top: 12px!important
}

.omex-bright h4 {
    margin-top: 40px;
    font-weight: 700;
    font-size: 40px;
    line-height: 44px;
    margin-bottom: 22px
}

.omex-bright h5 {
    color: #B93538;
    font-size: 40px;
    line-height: 50px;
    margin-bottom: 22px;
    font-weight: bold;
    letter-spacing: 0.1em;
    font-variant: small-caps;
}

.omex-bright h5 span {
    color: #347849;
}

.omex-bright p {
    font-size: 17px;
    letter-spacing: .03em;
    line-height: 30px;
    color: #2B2929;
    font-weight: 400;
    margin-bottom: 40px
}

.icbox p {
    text-align: center;
    margin-bottom: 0;
    margin-top: 14px;
    font-size: 15px;
    font-family: 'Alegreya', serif;
    line-height: 19px;
    font-weight: 500;
}

a.know.more {
    background: white;
    font-size: 16px;
    line-height: 40px;
    letter-spacing: .03em;
    color: #B93538;
    padding: 4px 42px;
    transition: box-shadow 0.3s ease-in-out;
    border: 1px solid #B93538;
    margin-top: 40px;
    float: left
}

a.know.more:hover {
    box-shadow: 0 4px 8px rgb(0 0 0 / 7%);
    background: #B93538;
    color: white;
}

.left-top {
    position: absolute;
    left: -25px;
    top: -40px;
}

.left-bottom {
    position: absolute;
    left: -25px;
    bottom: 0;
}

.icon-group img {
    height: 72px
}

.omex-bright .owl-theme .owl-dots .owl-dot span {
    background: #5A5A5A!important
}

.omex-bright .owl-theme .owl-dots .owl-dot span:hover:before {
    border: 1px solid #B93538!important
}

.omex-bright .owl-theme .owl-dots .owl-dot span:hover {
    background-color: #B93538!important
}

.omex-bright .owl-theme .owl-dots .owl-dot.active span:before {
    border: 1px solid #B93538!important
}

.omex-bright .owl-theme .owl-dots .owl-dot.active span {
    background-color: #B93538!important
}

.omex-bright {
    padding-bottom: 90px;
    padding-top: 82px;
}

.rating h1 {
    font-size: 40px;
    line-height: 50px;
    font-weight: 700;
    margin-bottom: 40px;
    color: #B93538;
    letter-spacing: 0.1em;
    font-variant: small-caps;
}

.rating h1 img {
    position: absolute;
    left: 42%;
    top: -33px;
}

.rating h1 span {
    color: #347849;
}

.rating p {
    letter-spacing: 0.05em;
    color: #2B2929;
    padding-right: 0;
    color: #2B2929;
    letter-spacing: 0.05em;
}

.absolute-circle {
    position: absolute;
    right: 0;
    bottom: 471px;
}

.rating {
    padding: 60px 0 110px 0;
    position: relative
}

.rating:before {
    content: " ";
    position: absolute;
    left: 0;
    top: 0;
    width: 70%;
    height: 63%;
    background: #FEFAFA;
}

.multislide {
    margin-top: 60px
}

.multislide .owl-nav {
    display: block!important
}

.multislide .owl-nav .owl-prev {
    position: absolute;
    left: -100px;
    top: 36%
}

.multislide .owl-nav .owl-next {
    right: -101px;
    position: absolute;
    top: 36%;
    transform: rotateY(185deg);
}

.multislide .card {
    background: #FFF;
    box-shadow: 0px 4px 4px rgba(185, 53, 56, 0.19);
    padding: 12px;
    border: 0;
    margin-right: 10px
}

.multislide .card figure {
    margin-bottom: 24px
}

div#omex-bright .owl-carousel-single .owl-nav button.owl-prev {
    display: none !important;
}

div#omex-bright .owl-carousel-single .owl-nav button.owl-next {
    right: -40px !important;
}

.multislide .card .txt {
    color: #B93538;
    text-align: center;
    font-weight: 700;
    font-size: 22px;
    margin-bottom: 17px;
    letter-spacing: 0.05em;
}

.multislide .owl-stage-outer {
    padding-bottom: 20px;
    padding-right: 20px
}

.multislide .owl-nav button:hover {
    background: #257848 !important;
}

.multislide .owl-nav button:hover img {
    filter: brightness(0) invert(1);
}

.multislide .owl-nav button {
    background: white!important;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.26));
    width: 86px;
    height: 86px;
    border-radius: 100%;
    padding: 0!important;
    display: flex;
    align-items: center;
    justify-content: center
}

.multislide .owl-nav button:focus {
    outline: 0;
    box-shadow: unset
}

.gallary ul {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style: none
}

.gallary ul li {
    width: calc(100% / 3 - 15px);
    padding: 0
}

.gallary ul li figure {
    margin-bottom: 14px;
    position: relative;
    overflow: hidden;
    width: 100%;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 7%);
}

.gallary ul li:hover figure {
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.25);
}

.hover-text {
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 22px;
    letter-spacing: 0.05em;
    color: #B93538;
    font-weight: 700;
    background: white;
    padding: 10px 0;
    opacity: 9;
    transition: 0.5s easy-in-out;
    filter: alpha(opacity=50);
    -webkit-transition: opacity .15s ease-in-out;
    -moz-transition: opacity .15s ease-in-out;
    -ms-transition: opacity .15s ease-in-out;
    -o-transition: opacity .15s ease-in-out;
    transition: opacity .5s ease-in-out
}

.clock-img {
    position: absolute;
    left: 0px;
    top: -540px;
}

.gallary ul li:nth-child(2),
.gallary ul li:nth-child(5) {
    margin: 0 14px
}

.gallary ul li figure img {
    width: 100%
}

.gallary ul li:hover .hover-text {
    opacity: 9
}

.gallary {
    padding: 60px 0 101px 0;
    position: relative;
    background: #FEFAFA;
}

.gallary h1 {
    font-weight: 700;
    color: #B93538;
    font-size: 40px;
    line-height: 50px;
    letter-spacing: 0.1em;
    margin-bottom: 53px;
    font-variant: small-caps;
}

.about-us ul li {
    display: flex;
    align-items: flex-start;
    flex-wrap: nowrap;
    font-size: 20px;
    font-weight: 400;
    padding-right: 10px;
    letter-spacing: 0.04em;
}

.about-us ul li span {
    font-weight: 600
}

.about-us ul li+li {
    margin-top: 45px
}

.about-us ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    list-style: none;
    margin: 0;
    padding: 0
}

.about-us ul li img {
    width: 90px;
    margin-top: 7px;
    margin-right: 20px
}

.about-us ul li span {
    clear: left
}

.about-us ul li span {
    color: #B93538;
}

.about-us ul {
    margin-top: 68px
}

.about-us h2 {
    font-size: 48px;
    line-height: 1.5!important;
    font-weight: 700;
    color: #B93538;
    letter-spacing: 0.1em;
    font-variant: small-caps;
}

.about-us {
    padding-top: 46px;
    padding-bottom: 44px;
    position: relative;
    background-color: #FEFAFA;
}

.bin {
    position: absolute;
    right: 0;
    top: -100px;
}

.about-us p {
    font-size: 18px;
    padding-right: 100px;
    line-height: 30px;
    color: #1B1919;
    margin-bottom: 36px;
    margin-top: 36px;
    letter-spacing: 0.04em;
}

.about-us .row .col-md-6:nth-child(1) {
    background-image: url(../images/ulbg.svg);
    background-size: 40%;
    background-repeat: no-repeat;
    background-position: center;
}

.contact-form {
    padding: 68px 72px;
    background-image: url(../images/contact-bg.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.contact-form h5 {
    font-size: 40px;
    font-weight: 700;
    color: #B93538;
    margin-bottom: 30px;
    letter-spacing: 0.1em;
    font-variant: small-caps;
    position: relative;
    margin-top: 20px;
}

img.clogo {
    position: absolute;
    left: 140px;
    top: -40px;
    bottom: 0;
}

.contact-form .form-group {
    margin-bottom: 30px
}

.contact-form .form-group .form-control {
    background: transparent;
    border: none!important;
    border-bottom: 1px solid #B93538!important;
    border-radius: 0;
    padding: 0;
    padding-bottom: 14px;
    color: #B93538;
    font-size: 24px;
    font-weight: 500;
}

.contact-form .form-group .form-control::placeholder {
    color: #B93538;
    font-size: 24px;
    font-weight: 500
}

.contact-form .form-group .form-control:focus {
    outline: 0;
    box-shadow: unset
}

.contact-form .form-group button {
    display: table;
    margin-left: auto;
    margin-right: auto;
    background: #B93538;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: .03em;
    color: white;
    padding: 7px 108px;
    transition: 0.5s easy-in-out;
    transition: all 0.3s ease-in-out;
    border: 2px solid #B93538;
}

.contact-us {
    padding: 80px 0
}

.contact-form .form-group button:hover {
    box-shadow: 0 4px 8px rgb(0 0 0 / 7%);
    background: white;
    color: #B93538;
}

.about-omx-grp {
    padding: 50px 0
}

.about-omx-grp h3 {
    font-size: 28px;
    line-height: 30px;
    font-weight: 700;
    margin-bottom: 40px;
    color: #69524D;
    letter-spacing: 0.1em;
    font-variant: small-caps;
}

.about-omx-grp p {
    color: #413737;
    font-size: 18px;
    letter-spacing: .04em
}

footer {
    padding: 36px 0;
    background: #E8E8E8;
}

.logo {
    display: flex;
    flex-wrap: nowrap;
    list-style: none;
    margin: 0;
    padding: 0;
    align-items: center
}

.logo li+li {
    margin-left: 24px
}

.menu {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    justify-content: flex-end
}

.menu li a {
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: #B93538;
    letter-spacing: 0.04em;
}

.menu li+li {
    margin-left: 25px
}

.menu li a:hover {
    color: #B93538;
}

footer p {
    margin-top: 44px;
    color: #B93538;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    opacity: .78;
}

.copy-write {
    padding: 26px 0
}

.copy-write p {
    letter-spacing: 0.05em;
    color: #000000;
    margin: 0;
}

.about-us .owl-carousel-single .owl-nav button.owl-next {
    display: none !important;
}

.about-us .owl-carousel-single .owl-nav button.owl-prev {
    left: -36px;
}

.copy-write a {
    letter-spacing: 0.05em;
    color: #000000;
}

.copy-write a:hover {
    color: #B93538;
}

.copy-write p span {
    font-weight: 700;
    color: #B93538;
}

@media all and (transform-3d),
(-webkit-transform-3d) {
    .carousel-fade .carousel-inner>.item.next,
    .carousel-fade .carousel-inner>.item.active.right {
        opacity: 0;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0)
    }
    .carousel-fade .carousel-inner>.item.prev,
    .carousel-fade .carousel-inner>.item.active.left {
        opacity: 0;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0)
    }
    .carousel-fade .carousel-inner>.item.next.left,
    .carousel-fade .carousel-inner>.item.prev.right,
    .carousel-fade .carousel-inner>.item.active {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0)
    }
}

.carousel-item.active img {
    transition: transform 5000ms linear 0s;
    transform: scale(1.05, 1.05)
}

.slider-link {
    position: absolute;
    left: 0;
    bottom: 30px;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center
}

.commonmodal ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none
}

.commonmodal h2 span {
    color: #347849;
}

.commonmodal ul li+li {
    margin-left: 20px
}

.contact-form .form-group textarea.form-control {
    height: 50px;
}

.commonmodal .modal-dialog .modal-body textarea.form-control {
    padding-bottom: 0 !important;
}

.commonmodal h2 {
    font-weight: 700;
    color: #B93538;
    margin-bottom: 0;
    font-size: 30px;
    letter-spacing: 0.1em;
    font-variant: small-caps;
}

.commonmodal .modal-dialog {
    max-width: 600px
}

.commonmodal .modal-dialog .modal-body {
    padding: 0 100px
}

.commonmodal .modal-dialog .modal-body .form-control {
    border: none !important;
    border-radius: 5px;
    margin-bottom: 16px;
    font-size: 16px;
    line-height: 24px;
    padding: 22px 8px!important;
    color: #B93538;
    border-bottom: 1px solid #B93538 !important;
    border-radius: 0 !important;
    background: transparent;
    padding-left: 0 !important;
}

.commonmodal .modal-dialog .modal-body .form-control::placeholder {
    color: #B93538;
}

.commonmodal .modal-dialog .modal-body .form-control:focus {
    box-shadow: unset;
}

.commonmodal button.close {
    position: absolute;
    right: 20px;
    top: 15px;
}

.commonmodal .modal-dialog .modal-body button {
    width: 100%;
    text-align: center;
    border: none;
    background: #B93538;
    font-size: 18px;
    color: #fff;
    border-radius: 5px;
    padding: 10px 10px;
    margin-top: 15px
}

.commonmodal .modal-dialog .modal-body button:focus {
    outline: 0;
    box-shadow: unset
}

.commonmodal .modal-dialog .modal-body button:hover {
    filter: drop-shadow(0 4px 8px rgba(0, 0, 0, .4))
}

.commonmodal .modal-dialog .modal-content {
    padding-bottom: 46px;
    background-color: #FEFAFA;
    border: none;
}

.world-home h3 {
    font-weight: 700;
    font-size: 22px;
    line-height: 30px;
    text-align: center;
    letter-spacing: .03em;
    color: #B93538;
    margin-bottom: 21px
}

.world-home h3 span {
    font-weight: 700;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    letter-spacing: .03em;
    color: #69524D;
    display: block
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s
}

.sidenav a:hover {
    color: #f1f1f1
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px
}

div#navbarToggleExternalContent {
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
    background: #FEFAFA;
    padding-top: 20px;
    padding-bottom: 20px
}

div#navbarToggleExternalContent ul li a {
    display: block;
    color: #B93538;
}

div#navbarToggleExternalContent ul li+li {
    margin-left: 0;
}

div#navbarToggleExternalContent ul li {
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

div#navbarToggleExternalContent ul li a {
    font-size: 18px;
    font-weight: 500;
}

.pos-f-t button:focus {
    outline: 0
}

button.navbar-toggler span {
    width: 30px;
    height: 2px;
    background: #4D4C4C;
    display: block
}

button.navbar-toggler span+span {
    margin-top: 8px
}

button.navbar-toggler span:nth-child(2) {
    width: 25px
}

.stickylogo {
    margin-left: 3px;
    transition: width 0.5s ease-in-out;
    opacity: 0;
}

.sticky .stickylogo {
    opacity: 9;
}

.gallary ul li figure a {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0
}

.img-dailog button {
    position: absolute;
    right: 20px;
    top: 10px;
    filter: brightness(1);
    background: wheat!important;
    opacity: 9
}

.umbr {
    position: absolute;
    left: 27%;
    top: 190px;
}

.clock-th {
    position: absolute;
    left: 0;
    bottom: -160px;
}

.circle-th {
    position: absolute;
    right: 0;
}

.thankyou {
    overflow: hidden;
}

.thankyou a {
    font-size: 18px;
    margin-top: 20px;
    padding: 9px 78px;
    border: 1px solid #b93538;
    color: #fff;
    border-radius: 0;
    transition: box-shadow 0.3s ease-in-out;
    color: #b93538;
    letter-spacing: 0.04em;
}

.thankyou h2 {
    font-size: 30px;
    font-weight: 400
}

.thankyou h1 {
    font-size: 40px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: #B93538;
}

.thankyou h1 span {
    color: #347849;
}

.thankyou a:hover {
    background: #b93538;
    color: #fff;
}

.thankyou {
    padding-bottom: 40px
}

.owl-carousel-single .owl-nav {
    display: block!important
}

.world-home-slider .owl-carousel-single .owl-nav button.owl-next {
    display: none !important;
}

.world-home-slider .owl-carousel-single .owl-nav button.owl-prev {
    left: -37px;
}

.owl-carousel-single .owl-nav button {
    position: absolute;
    top: 42%;
    background: #B93538 !important;
    width: 75px;
    height: 55px;
    flex: 0 0 50px;
    color: white!important;
    font-size: 40px!important;
    display: flex!important;
    align-items: center;
    justify-content: center;
    margin: 0!important;
    border-radius: 0!important;
}

.owl-carousel-single .owl-nav button.owl-prev {
    left: 0
}

.owl-carousel-single .owl-nav button.owl-next {
    right: 0
}

.owl-carousel-single .owl-theme .owl-nav [class*=owl-] span {
    margin-top: -9px
}

.owl-carousel-single .owl-nav button:focus {
    outline: 0;
    box-shadow: unset
}

.about-us .owl-nav button {
    top: 42%
}

.owl-carousel-single .owl-nav button span {
    margin-top: -10px
}

.about-us p span {
    font-weight: 600;
}

.owl-carousel-single .owl-nav button img {
    width: 20px
}

.logo li:nth-child(2) img {
    height: 52px
}

a.nav-link.cnc-btn {
    border: 1px solid #B93538;
    float: left;
    padding: 6px 34px !important;
    font-size: 18px !important;
    font-weight: 500 !important;
}

@media only screen and (max-width:1200px) {
    header .navbar:before,
    header .navbar:after {
        display: none
    }
}

@media only screen and (max-width:1050px) {
    header ul li+li {
        margin-left: 18px
    }
    header ul li a {
        font-size: 14px
    }
    header .cont-btn a {
        font-size: 14px
    }
    .cont-btn {
        margin-left: 30px
    }
    .main-slider {
        height: auto
    }
    .slider-content {
        padding-top: 150px
    }
    .slider-content h1 {
        font-size: 30px;
        line-height: 56px
    }
    .world-home-slider p {
        padding-right: 0;
        font-size: 16px
    }
    .world-home p {
        font-size: 16px
    }
    .omex-bright h4 {
        font-size: 30px
    }
    .omex-bright h5 {
        font-size: 20px;
        line-height: 30px
    }
    .omex-bright p {
        font-size: 14px;
        line-height: 1.5
    }
    .rating h1 {
        font-size: 30px
    }
    .rating p {
        font-size: 16px
    }
    .gallary h1 {
        font-size: 30px
    }
    .about-us h2 {
        font-size: 30px
    }
    .about-us ul li {
        font-size: 14px
    }
    .about-us p {
        font-size: 16px;
        margin-bottom: 18px
    }
    .about-omx-grp h3 {
        font-size: 26px
    }
    .about-omx-grp p {
        font-size: 16px
    }
    footer p {
        font-size: 16px
    }
    .menu li a {
        font-size: 14px
    }
    .copy-write {
        font-size: 14px
    }
    .world-home-slider h3 {
        font-size: 30px;
        margin-bottom: 20px
    }
    .world-home-slider .wh-logo {
        margin-bottom: 28px
    }
    .contact-form h5 {
        font-size: 30px
    }
    .contact-form .form-group {
        margin-bottom: 20px
    }
}

@media only screen and (max-width:992px) {
    header .navbar:before,
    header .navbar::after {
        display: none
    }
}

@media only screen and (max-width:767px) {
    figure.lgogo-for-center {
        MARGIN: 0 AUTO 30PX;
        DISPLAY: TABLE;
    }
    div#omex-bright .owl-carousel-single .owl-nav button.owl-next {
        right: 0 !important;
    }
    .rating .col-sm-8 {
        margin: 0 auto!important
    }
    .substract-img {
        background-image: url(../images/subtractmob.png)!important
    }
    .main-slider {
        height: auto
    }
    .slider-content {
        padding-top: 210px
    }
    .slider-content h1 {
        font-size: 26px
    }
    .world-home {
        padding: 33px 0 80px
    }
    .world-home p {
        font-size: 16px;
        line-height: 30px;
        padding-right: 0;
        text-align: center
    }
    .world-home-slider .wh-logo {
        display: table;
        margin-left: auto;
        margin-right: auto;
        margin-top: 0;
        margin-bottom: 15px
    }
    .world-home-slider h3 {
        font-size: 23px;
        line-height: 30px;
        text-align: center
    }
    .world-home-slider p {
        font-size: 16px;
        line-height: 30px;
        text-align: center;
        letter-spacing: .03em
    }
    .world-home-slider a {
        padding: 12px 30px;
        display: table;
        margin: 31px auto;
        float: unset
    }
    .omex-bright h4 {
        margin-top: 0;
        font-size: 28px;
        line-height: 35px;
        text-align: center;
        color: #000
    }
    .omex-bright h5 {
        text-align: center;
        font-size: 24px;
        padding-right: 0;
        margin-top: 40px;
    }
    .omex-bright p {
        font-size: 16px;
        line-height: 30px;
        text-align: center
    }
    a.know.more {
        padding: 4px 30px;
        float: unset;
        display: table;
        margin-left: auto;
        margin-right: auto
    }
    .rating:before {
        width: 100%
    }
    .rating {
        padding: 40px 0 10px 0
    }
    .multislide .card {
        margin-right: 0
    }
    .rating h1 {
        font-size: 24px;
        line-height: 30px;
        text-align: center;
        padding: 0 50px;
        margin-bottom: 18px
    }
    .rating p {
        padding-right: 0;
        text-align: center;
        line-height: 30px
    }
    .multislide .card .txt {
        font-size: 18px
    }
    .gallary {
        padding: 40px 0 66px 0
    }
    .gallary ul li {
        width: calc(100% / 2 - 15px);
        padding: 0
    }
    .gallary ul li:nth-child(2),
    .gallary ul li:nth-child(5) {
        margin: unset
    }
    .gallary ul {
        justify-content: space-around
    }
    .gallary h1 {
        margin-bottom: 28px
    }
    .about-omx-grp h3 {
        text-align: center;
        margin-bottom: 27px
    }
    .about-omx-grp p {
        text-align: center;
        line-height: 30px;
        font-weight: 400
    }
    .contact-us {
        padding: 80px 0 40px
    }
    .menu {
        justify-content: flex-start;
        margin-top: 20px
    }
    .hover-text {
        font-size: 16px
    }
    .world-home {
        background: rgba(3, 47, 159, 0.04);
    }
    .world-home-slider .owl-carousel-single .owl-nav button.owl-prev {
        left: 0 !important;
    }
}

@media only screen and (max-width:480px) {
    .contact-form {
        border-right: 25px solid #fdf4f5;
        border-left: 25px solid #fefafa;
        padding: 25px 30px;
    }
    .contact-form h5 {
        font-size: 24px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .bin img {
        height: 210px;
        z-index: -1;
    }
    .contact-form {
        background-size: cover;
    }
    .about-us {
        padding-top: 0;
    }
    .about-us .owl-carousel-single .owl-nav button.owl-prev {
        left: 0 !important;
    }
    .omex-bright {
        padding-bottom: 20px;
    }
    .world-home-slider h3 {
        margin-bottom: 0;
        margin-top: 0;
        line-height: 0;
    }
    .absolute-circle img {
        height: 180px;
    }
    .absolute-circle {
        bottom: auto;
        top: -60px;
    }
    .rating h1 {
        font-size: 26px;
        line-height: 36px;
    }
    .rating h1 img {
        left: 33%;
    }
    .rating {
        padding-top: 40px;
    }
    .rating .owl-carousel.owl-loaded .item {
        width: 215px;
        margin: 0 auto;
    }
    .world-home-slider .row .col-md-6:nth-child(1) {
        transform: translatey(-70px);
    }
    .world-home-slider .owl-carousel {
        padding-right: 30px;
    }
    .world-home p {
        margin-bottom: 30px;
    }
    .world-home-slider .row .col-md-6:nth-child(2) {
        transform: translateY(-90px);
    }
    .world-home-slider .top-right,
    .world-home-slider .bottom-right {
        right: 10px;
        width: 83px;
    }
    .world-home-slider {
        padding-bottom: 0;
    }
    .omex-bright .owl-carousel {
        padding-left: 30px;
    }
    .left-top,
    .left-bottom {
        width: 83px;
        left: 10px;
    }
    div#omex-bright .owl-carousel-single .owl-nav button.owl-next {
        right: 0 !important;
    }
    .menu li:last-child {
        width: 100%;
        flex: 0 0 100%
    }
    .multislide .owl-nav img {
        width: 25px
    }
    .rating .col-8 {
        margin-left: auto;
        margin-right: auto
    }
    .multislide .owl-nav button {
        width: 46px;
        height: 46px
    }
    .multislide .owl-nav .owl-prev {
        left: -5px;
        top: 30%
    }
    .multislide .owl-nav .owl-next {
        right: -5px;
        top: 30%
    }
    footer p {
        margin-top: 0;
        text-align: center
    }
    .clock-img {
        left: -14px;
    }
    .clock-img img {
        height: 377px;
    }
    .menu {
        flex-wrap: wrap;
        justify-content: flex-start;
        margin: 20px 20px
    }
    .menu li+li {
        margin-left: 0
    }
    .menu li {
        width: 50%;
        flex: 0 0 50%
    }
    .gallary h1 {
        font-size: 22px
    }
    .about-us h2 {
        font-size: 26px;
        text-align: center
    }
    .about-us p {
        text-align: center;
        padding-right: 0;
    }
    .about-us ul li img {
        width: 60px;
        margin-right: 10px
    }
    .about-us ul {
        margin-top: 33px
    }
    .about-us .row .col-md-6:nth-child(1) {
        background-repeat: no-repeat;
        background-position: bottom;
        background-size: 76%;
    }
    .contact-us {
        padding-top: 18px;
        padding-bottom: 0px
    }
    .contact-form .form-group .form-control,
    .contact-form .form-group .form-control::placeholder {
        font-size: 15px
    }
    .contact-form .form-group button {
        float: unset;
        font-size: 18px;
        font-weight: 600;
        padding: 7px 60px;
        display: table;
        margin: 34px auto 30px!important
    }
    .icon-group img {
        height: 60px
    }
    .world-home h3 span {
        font-size: 18px;
        margin-top: 10px;
        letter-spacing: 0.05em;
    }
    .world-home h3 {
        font-size: 24px
    }
    .slider-content h1 {
        font-size: 26px;
        line-height: 45px;
        font-weight: 600
    }
    .about-omx-grp {
        padding: 0
    }
    .copy-write .col-sm-6:nth-child(2) p {
        margin-top: 10px;
        margin-left: auto;
        margin-right: auto
    }
    .commonmodal .modal-dialog .modal-body {
        padding: 0 20px
    }
    .commonmodal h2 {
        font-size: 26px;
    }
    .slider-content {
        padding-top: 160px
    }
    .hover-text {
        font-size: 14px
    }
    .copy-write p {
        text-align: center;
        font-size: 16px
    }
    .copy-write p a {
        text-align: center
    }
    .gallary ul li:nth-child(1) .hover-text {
        opacity: 9
    }
    a.logols img:nth-child(1) {
        width: 120px
    }
    .sticky .stickylogo {
        width: 64px
    }
    .thankyou.min-vh-100.d-flex.flex-fill {
        height: auto!important
    }
    .thankyou h1 {
        font-size: 30px
    }
    .thankyou h2 {
        font-size: 18px
    }
    .thankyou a {
        font-size: 16px
    }
    .owl-carousel-single .owl-nav button {
        top: 35%;
        width: 40px;
        height: 40px
    }
    .mobile-slider #carouselExampleSlidesOnly {
        padding-top: 90px
    }
    div#contact-us iframe {
        height: 350px
    }
    .lgogo-for-center img {
        display: table;
        margin: 0 auto 0px auto
    }
    .slider-content h1 span {
        font-weight: 700;
    }
    .logo {
        justify-content: center;
    }
    img.clogo {
        position: absolute;
        left: 30%;
        top: -12px;
        width: 70px;
    }
    .world-home-slider a {
        margin-bottom: 0 !important;
    }
    .clock-th {
        height: 400px;
        bottom: 0;
    }
    .circle-th img {
        height: 200px;
    }
}